<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Buyer Mode</title>
</head>

<body style="background-color: #B1AEB3; color:black">
    <h1><a style="color:black;" href="./buyer.ejs">Buyer Mode</a></h1>
    <hr>
    <%- shoeName%>
    <div>
        <%- silhoutte%>
        <br> 
        <%- styleID%>
        <br>
        <%- colorway%>
        <br>
        <%- retailPrice%>
        <br>
        <%- releaseDate%>
        <%- thumbNail%>
        <%- table%>
    </div>

   
    <%- description%>
    <br>
    <%- linkX%>
    <%- linkFC%>
    <%- linkGOAT%>
</body>

</html>