<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Buyer Mode</title>
</head>

<body>
    <h1>Buyer Mode</h1>
    <hr>
    <%- shoeName%>
    <div>
        <%- thumbNail%>
        <%- table%>
    </div>

    <%- silhoutte%>
    <br>
    <%- styleID%>
    <br>
    <%- colorway%>
    <br>
    <%- retailPrice%>
    <br>
    <%- releaseDate%>
    <br>
    <%- description%>
    <br>
    <%- linkX%>
    <%- linkFC%>
    <%- linkGOAT%>
    <label></label>
</body>

</html>